h1 {text-align: center;}
h3 {text-align: center;}

/* Cookbook */

.navbar-brand {
    font-family: 'Teko', sans-serif;
    font-size: xx-large;
    font-weight: 600;
}

.nav-link {
    font-family: 'Teko', sans-serif;
    font-size: medium;
    font-weight: 300; 
}
